.container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.movies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 70px;
    width: 80%;
}

.movies .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
    color: rgb(34, 33, 33);
    margin-top: -20px;
    border-bottom: 1px solid rgb(181, 178, 178);
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 15px;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
    font-size: 14px;
}